<!-- Content Header (Page header) -->
<ng-template #customLoadingTemplate> </ng-template>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">ค้นหาข้อมูล</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Tags Option</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="dataset" (ngSubmit)="submitForm()">
            <div class="card-body">
              <div class="form-group">
                <label class="col-form-label" for="inputSuccess"><i class="fas fa-group"></i>ชื่อทีม</label>
                <input type="text" name="teamname" class="form-control" placeholder="หมูป่า ..."
                  formControlName="teamName" />
              </div>

              <div class="row mb-4">
                <div class="col">
                  <div class="example-config">
                    Selected value is: {{startDate | date:format}}
                  </div>
                  <div class="example-wrapper">
                    <b>Start Date</b> :
                    <kendo-datetimepicker [placeholder]="'Match start...'" [format]="format"
                      (valueChange)="logS($event)" formControlName="startDate">
                    </kendo-datetimepicker>
                  </div>
                </div>
                <div class="col">
                  <div class="example-config">
                    Selected value is: {{endDate | date:format}}
                  </div>
                  <div class="example-wrapper">
                    <b>End Date</b> :
                    <kendo-datetimepicker [placeholder]="'Match end...'" [format]="format" (valueChange)="logE($event)"
                      formControlName="endDate">
                    </kendo-datetimepicker>
                  </div>
                </div>
              </div>
              <label>Tags Lits:</label>
              <div class="form-group row" *ngFor="let t of tags;let i = index">
                <label class="col-sm-1 col-form-label">Tag {{ i +1 }}</label>
                <div class="col-sm-5">
                  <ng-select class="custom" [items]="tags" [(ngModel)]="tagSelected[i]"
                    [ngModelOptions]="{standalone: true}" bindLabel="name" bindValue="name" placeholder="Select TagID">
                  </ng-select>
                </div>
                <label class="col-sm-1 col-form-label">Player</label>
                <div class="col-sm-5">
                  <ng-select class="custom" [items]="players" [(ngModel)]="plySelected[i]"
                    [ngModelOptions]="{standalone: true}" bindLabel="fullname" bindValue="pid"
                    placeholder="Select Player">
                  </ng-select>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary float-right">
                ค้นหาข้อมูล
              </button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row (main row) -->
  </div>
  <!-- /.container-fluid -->
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</section>
