<!-- Content Header (Page header) -->
<ng-template #customLoadingTemplate> </ng-template>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">ค้นหาข้อมูล</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form
            role="form"
            #searchForm="ngForm"
            (ngSubmit)="onSubmit(searchForm.value)"
          >
            <div class="card-body">
              <!-- Date and time range -->
              <div class="form-group">
                <label>เวลาแข่งขัน:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-clock"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control float-right"
                    name="times"
                    id="daterange"
                  />
                </div>
                <!-- /.input group -->
              </div>

              <label>Tags Lits:</label>
              <div class="form-group row" *ngFor="let t of tags; let i = index">
                <label class="col-sm-1 col-form-label">Tag</label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tag ID"
                    [value]="t.name"
                    name="tagName"
                    disabled
                  />
                </div>
                <label class="col-sm-1 col-form-label">Player</label>
                <div class="col-sm-5">
                  <angular2-multiselect
                    name="ply{{ t.id }}"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems[t.id]"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event, t.id)"
                    (onDeSelect)="OnItemDeSelect($event, t.id)"
                    disabled
                  >
                  </angular2-multiselect>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary float-right">
                Submit
              </button>
            </div>
          </form>
          <button (click)="getTags()">Gettags</button>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row (main row) -->
  </div>
  <!-- /.container-fluid -->
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</section>
