<p>plan works!</p>
<p>Tag : {{ teamData?.data.personTag }}</p>
<p>
  Count : {{ teamData.data.personCount | number: "1.0-2" }}
  {{ teamData?.data.personUnit }}
</p>
<p>Zone : {{ teamData?.data.personZone }}</p>

<button (click)="getTags()" class="btn btn-primary">GetTags</button>
<hr>
<div *ngFor="let t of tagData;let i = index;">
  <b>{{ t.zone }}</b> : <i>{{ t.tag }}</i> <p>{{ t.count/60 | number:'1.2-2'}} - นาที</p>
  <button (click)="selectItem(t)" class="btn btn-success">Select</button>
  <hr>
</div>
