<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Browser Usage</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <!-- col -->
      <div class="col-md-4" *ngFor="let bar of topic">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">{{ bar }}</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
