<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Browser Usage</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData2"
                [labels]="barChartLabels2"
                [options]="barChartOptions2"
                [legend]="barChartLegend2"
                [chartType]="barChartType2"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData3"
                [labels]="barChartLabels3"
                [options]="barChartOptions3"
                [legend]="barChartLegend3"
                [chartType]="barChartType3"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData4"
                [labels]="barChartLabels4"
                [options]="barChartOptions4"
                [legend]="barChartLegend4"
                [chartType]="barChartType4"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData5"
                [labels]="barChartLabels5"
                [options]="barChartOptions5"
                [legend]="barChartLegend5"
                [chartType]="barChartType5"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-md-4">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>
          </div>
          <div class="card-body">
            <div style="display: block">
              <canvas
                baseChart
                height="150"
                [datasets]="barChartData6"
                [labels]="barChartLabels6"
                [options]="barChartOptions6"
                [legend]="barChartLegend6"
                [chartType]="barChartType6"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- col -->
    </div>
  </div>
</div>
